# DATA ENGINEERING

Below code requests annual data from the API, and stores it to a JSON file format.

In [ ]:
#!pip install mysql-connector-python

In [ ]:
import requests
import time
import json
import mysql.connector
from mysql.connector import Error
import csv
import pandas as pd
api_key = 'JF2O7UqI4VR9xdWAZN4RvJa4ePXnF45ET3kFfdWL'

In [ ]:
def fetch_data(url, params):
    all_data = []  
    total_rows = 0  
    has_more_data = True

    while has_more_data:
        response = requests.get(url, params=params)
        if response.status_code == 200:
            data = response.json()

            # check for the "incomplete return" warning; should hit this warning still
            if data.get('response', {}).get('warnings'):
                print(data['response']['warnings'][0]['description'])

            # append the data to the list
            all_data.extend(data['response']['data'])
            total_rows += len(data['response']['data'])

            # if fewer than 5000 rows are returned, finished
            if len(data['response']['data']) < 5000:
                has_more_data = False
            else:
                # update  offset to get the next batch of data
                params['offset'] += 5000

            # delay to avoid API limit
            time.sleep(1)
        else:
            print(f"Failed to retrieve data: {response.status_code}")
            break

    print(f"Total rows retrieved: {total_rows}")
    return all_data
def save_to_json(data, filename, array_name):
     with open(filename, 'w') as f:
        json.dump(data, f, indent=4)
        print(f"Data saved to {filename} as a list of JSON objects.")

Table which stores the emissions from Energy Consumption at Conventional Power Plants and Co

In [ ]:
url = 'https://api.eia.gov/v2/electricity/state-electricity-profiles/emissions-by-state-by-fuel/data/'
params = {
    'api_key': api_key, 
    'frequency': 'annual',
    'data[0]': 'co2-rate-lbs-mwh',
    'data[1]': 'co2-thousand-metric-tons',
    'data[2]': 'nox-rate-lbs-mwh',
    'data[3]': 'nox-short-tons',
    'data[4]': 'so2-rate-lbs-mwh',
    'data[5]': 'so2-short-tons',
    'facets[stateid][]': [
        'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI',
        'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN',
        'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH',
        'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'US', 'UT', 'VA', 'VT',
        'WA', 'WI', 'WV', 'WY'
    ],
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000 
}

emissions_data = fetch_data(url, params)

The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
Total rows retrieved: 8571

Table which stores supply and disposition of electricity

In [ ]:
url = 'https://api.eia.gov/v2/electricity/state-electricity-profiles/source-disposition/data/'
params = {
    'api_key': api_key,  
    'frequency': 'annual',
    'data[0]': 'combined-heat-and-pwr-comm',
    'data[1]': 'combined-heat-and-pwr-elect',
    'data[2]': 'combined-heat-and-pwr-indust',
    'data[3]': 'direct-use',
    'data[4]': 'elect-pwr-sector-gen-subtotal',
    'data[5]': 'electric-utilities',
    'data[6]': 'energy-only-providers',
    'data[7]': 'estimated-losses',
    'data[8]': 'facility-direct',
    'data[9]': 'full-service-providers',
    'data[10]': 'independent-power-producers',
    'data[11]': 'indust-and-comm-gen-subtotal',
    'data[12]': 'net-interstate-trade',
    'data[13]': 'net-trade-index',
    'data[14]': 'total-disposition',
    'data[15]': 'total-elect-indust',
    'data[16]': 'total-international-exports',
    'data[17]': 'total-international-imports',
    'data[18]': 'total-net-generation',
    'data[19]': 'total-supply',
    'data[20]': 'unaccounted',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000  
}
source_disposition_data = fetch_data(url, params)

Total rows retrieved: 1768

Table which stores net generation capacity

In [ ]:
url = 'https://api.eia.gov/v2/electricity/state-electricity-profiles/capability/data/'
params = {
    'api_key': api_key,  
    'frequency': 'annual',
    'data[0]': 'capability',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000 
}
capacity_data = fetch_data(url, params)

The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
Total rows retrieved: 54356

Table which stores the costs and savings for energy efficiency

In [ ]:
url = 'https://api.eia.gov/v2/electricity/state-electricity-profiles/energy-efficiency/data/'

params = {
    'api_key': api_key,
    'frequency': 'annual',
    'data[0]': 'all-other-costs',
    'data[1]': 'customer-incentive',
    'data[2]': 'energy-savings',
    'data[3]': 'potential-peak-savings',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000  
}
energy_efficiency_data = fetch_data(url, params)

Total rows retrieved: 4680

Table which stores electricty net metering

In [ ]:
url = 'https://api.eia.gov/v2/electricity/state-electricity-profiles/net-metering/data/'
params = {
    'api_key': api_key, 
    'frequency': 'annual',
    'data[0]': 'capacity',
    'data[1]': 'customers',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000 
}
net_metering_data = fetch_data(url, params)

The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
Total rows retrieved: 8320

Table which stores advanced metering infrastructure

In [ ]:
url = 'https://api.eia.gov/v2/electricity/state-electricity-profiles/meters/data/'
params = {
    'api_key': api_key, 
    'frequency': 'annual',
    'data[0]': 'meters',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000  
}
adv_metering_data = fetch_data(url, params)

The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
The API can only return 5000 rows in JSON format.  Please consider constraining your request with facet, start, or end, or using offset to paginate results.
Total rows retrieved: 8320

Table which stores state rankings

In [ ]:
url = 'https://api.eia.gov/v2/electricity/state-electricity-profiles/summary/data/'
params = {
    'api_key': api_key,  
    'frequency': 'annual',
    'data[0]': 'average-retail-price',
    'data[1]': 'average-retail-price-rank',
    'data[2]': 'capacity-elec-utilities',
    'data[3]': 'capacity-elect-utilities-rank',
    'data[4]': 'capacity-ipp',
    'data[5]': 'capacity-ipp-rank',
    'data[6]': 'carbon-dioxide',
    'data[7]': 'carbon-dioxide-lbs',
    'data[8]': 'carbon-dioxide-rank',
    'data[9]': 'carbon-dioxide-rank-lbs',
    'data[10]': 'direct-use',
    'data[11]': 'direct-use-rank',
    'data[12]': 'eop-sales',
    'data[13]': 'eop-sales-rank',
    'data[14]': 'fsp-sales-rank',
    'data[15]': 'fsp-service-provider-sales',
    'data[16]': 'generation-elect-utils',
    'data[17]': 'generation-elect-utils-rank',
    'data[18]': 'generation-ipp',
    'data[19]': 'generation-ipp-rank',
    'data[20]': 'net-generation',
    'data[21]': 'net-generation-rank',
    'data[22]': 'net-summer-capacity',
    'data[23]': 'net-summer-capacity-rank',
    'data[24]': 'nitrogen-oxide',
    'data[25]': 'nitrogen-oxide-lbs',
    'data[26]': 'nitrogen-oxide-rank',
    'data[27]': 'nitrogen-oxide-rank-lbs',
    'data[28]': 'prime-source',
    'data[29]': 'sulfer-dioxide',
    'data[30]': 'sulfer-dioxide-lbs',
    'data[31]': 'sulfer-dioxide-rank',
    'data[32]': 'sulfer-dioxide-rank-lbs',
    'data[33]': 'total-retail-sales',
    'data[34]': 'total-retail-sales-rank',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000 
}
state_ranking_data = fetch_data(url, params)

Total rows retrieved: 815

Saves tables as JSON files

In [ ]:
save_to_json(emissions_data, 'emissions_data.json', 'emissions_data')
save_to_json(source_disposition_data, 'source_disposition_data.json', 'source_disposition_data')
save_to_json(capacity_data, 'capacity_data.json', 'capacity_data')
save_to_json(energy_efficiency_data, 'energy_efficiency_data.json', 'energy_efficiency_data')
save_to_json(net_metering_data, 'net_metering_data.json', 'net_metering_data')
save_to_json(meters_data, 'adv_metering_data.json', 'meters_data')
save_to_json(state_ranking_data, 'state_ranking_data.json', 'state_ranking_data')

Data saved to emissions_data.json as a list of JSON objects.
Data saved to source_disposition_data.json as a list of JSON objects.
Data saved to capacity_data.json as a list of JSON objects.
Data saved to energy_efficiency_data.json as a list of JSON objects.
Data saved to net_metering_data.json as a list of JSON objects.
Data saved to adv_metering_data.json as a list of JSON objects.
Data saved to state_ranking_data.json as a list of JSON objects.

Below code for saving the above JSON files to a MYSQL database stored on GCP server.

Storing Annual Emmissions Data in a MYSQL database on GCP server.

In [ ]:
create_table_query = """
CREATE TABLE IF NOT EXISTS emissions_data (
    period VARCHAR(10),
    stateid VARCHAR(10),
    stateDescription VARCHAR(50),
    fuelid VARCHAR(10),
    fuelDescription VARCHAR(50),
    co2_rate_lbs_mwh DECIMAL(10, 2),
    co2_thousand_metric_tons DECIMAL(10, 2),
    nox_rate_lbs_mwh DECIMAL(10, 2),
    nox_short_tons DECIMAL(10, 2),
    so2_rate_lbs_mwh DECIMAL(10, 2),
    so2_short_tons DECIMAL(10, 2),
    co2_rate_lbs_mwh_units VARCHAR(50),
    co2_thousand_metric_tons_units VARCHAR(50),
    nox_rate_lbs_mwh_units VARCHAR(50),
    nox_short_tons_units VARCHAR(50),
    so2_rate_lbs_mwh_units VARCHAR(50),
    so2_short_tons_units VARCHAR(50)
);
"""
cursor.execute(create_table_query)

with open('emissions_data.json', 'r') as file:
    data = json.load(file)

insert_query = """
INSERT INTO emissions_data (
    period, stateid, stateDescription, fuelid, fuelDescription,
    co2_rate_lbs_mwh, co2_thousand_metric_tons, nox_rate_lbs_mwh, nox_short_tons,
    so2_rate_lbs_mwh, so2_short_tons, co2_rate_lbs_mwh_units, co2_thousand_metric_tons_units,
    nox_rate_lbs_mwh_units, nox_short_tons_units, so2_rate_lbs_mwh_units, so2_short_tons_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for record in data:
    cursor.execute(insert_query, (
        record.get("period"),
        record.get("stateid"),
        record.get("stateDescription"),
        record.get("fuelid"),
        record.get("fuelDescription"),
        float(record.get("co2-rate-lbs-mwh") or 0),
        float(record.get("co2-thousand-metric-tons") or 0),
        float(record.get("nox-rate-lbs-mwh") or 0),
        float(record.get("nox-short-tons") or 0),
        float(record.get("so2-rate-lbs-mwh") or 0),
        float(record.get("so2-short-tons") or 0),
        record.get("co2-rate-lbs-mwh-units"),
        record.get("co2-thousand-metric-tons-units"),
        record.get("nox-rate-lbs-mwh-units"),
        record.get("nox-short-tons-units"),
        record.get("so2-rate-lbs-mwh-units"),
        record.get("so2-short-tons-units")
    ))

connection.commit()

Storing Supply and disposition of electricity data in a MYSQL database on GCP server.

In [ ]:
create_table_query = """
CREATE TABLE IF NOT EXISTS source_disposition_data (
    period VARCHAR(10),
    state VARCHAR(5),
    stateDescription VARCHAR(50),
    combined_heat_and_pwr_comm DECIMAL(15, 2),
    combined_heat_and_pwr_elect DECIMAL(15, 2),
    combined_heat_and_pwr_indust DECIMAL(15, 2),
    direct_use DECIMAL(15, 2),
    elect_pwr_sector_gen_subtotal DECIMAL(15, 2),
    electric_utilities DECIMAL(15, 2),
    energy_only_providers DECIMAL(15, 2),
    estimated_losses DECIMAL(15, 2),
    facility_direct DECIMAL(15, 2),
    full_service_providers DECIMAL(15, 2),
    independent_power_producers DECIMAL(15, 2),
    indust_and_comm_gen_subtotal DECIMAL(15, 2),
    net_interstate_trade DECIMAL(15, 2),
    net_trade_index DECIMAL(5, 2),
    total_disposition DECIMAL(15, 2),
    total_elect_indust DECIMAL(15, 2),
    total_international_exports DECIMAL(15, 2),
    total_international_imports DECIMAL(15, 2),
    total_net_generation DECIMAL(15, 2),
    total_supply DECIMAL(15, 2),
    unaccounted DECIMAL(15, 2),
    combined_heat_and_pwr_comm_units VARCHAR(50),
    combined_heat_and_pwr_elect_units VARCHAR(50),
    combined_heat_and_pwr_indust_units VARCHAR(50),
    direct_use_units VARCHAR(50),
    elect_pwr_sector_gen_subtotal_units VARCHAR(50),
    electric_utilities_units VARCHAR(50),
    energy_only_providers_units VARCHAR(50),
    estimated_losses_units VARCHAR(50),
    facility_direct_units VARCHAR(50),
    full_service_providers_units VARCHAR(50),
    independent_power_producers_units VARCHAR(50),
    indust_and_comm_gen_subtotal_units VARCHAR(50),
    net_interstate_trade_units VARCHAR(50),
    net_trade_index_units VARCHAR(50),
    total_disposition_units VARCHAR(50),
    total_elect_indust_units VARCHAR(50),
    total_international_exports_units VARCHAR(50),
    total_international_imports_units VARCHAR(50),
    total_net_generation_units VARCHAR(50),
    total_supply_units VARCHAR(50),
    unaccounted_units VARCHAR(50)
);
"""
cursor.execute(create_table_query)

with open('source_disposition_data.json', 'r') as file:
    data = json.load(file)

insert_query = """
INSERT INTO source_disposition_data (
    period, state, stateDescription, combined_heat_and_pwr_comm, combined_heat_and_pwr_elect,
    combined_heat_and_pwr_indust, direct_use, elect_pwr_sector_gen_subtotal, electric_utilities,
    energy_only_providers, estimated_losses, facility_direct, full_service_providers,
    independent_power_producers, indust_and_comm_gen_subtotal, net_interstate_trade, net_trade_index,
    total_disposition, total_elect_indust, total_international_exports, total_international_imports,
    total_net_generation, total_supply, unaccounted, combined_heat_and_pwr_comm_units,
    combined_heat_and_pwr_elect_units, combined_heat_and_pwr_indust_units, direct_use_units,
    elect_pwr_sector_gen_subtotal_units, electric_utilities_units, energy_only_providers_units,
    estimated_losses_units, facility_direct_units, full_service_providers_units,
    independent_power_producers_units, indust_and_comm_gen_subtotal_units, net_interstate_trade_units,
    net_trade_index_units, total_disposition_units, total_elect_indust_units,
    total_international_exports_units, total_international_imports_units, total_net_generation_units,
    total_supply_units, unaccounted_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for record in data:
    cursor.execute(insert_query, (
        record.get("period"),
        record.get("state"),
        record.get("stateDescription"),
        float(record.get("combined-heat-and-pwr-comm") or 0),
        float(record.get("combined-heat-and-pwr-elect") or 0),
        float(record.get("combined-heat-and-pwr-indust") or 0),
        float(record.get("direct-use") or 0),
        float(record.get("elect-pwr-sector-gen-subtotal") or 0),
        float(record.get("electric-utilities") or 0),
        float(record.get("energy-only-providers") or 0),
        float(record.get("estimated-losses") or 0),
        float(record.get("facility-direct") or 0),
        float(record.get("full-service-providers") or 0),
        float(record.get("independent-power-producers") or 0),
        float(record.get("indust-and-comm-gen-subtotal") or 0),
        float(record.get("net-interstate-trade") or 0),
        float(record.get("net-trade-index") or 0),
        float(record.get("total-disposition") or 0),
        float(record.get("total-elect-indust") or 0),
        float(record.get("total-international-exports") or 0),
        float(record.get("total-international-imports") or 0),
        float(record.get("total-net-generation") or 0),
        float(record.get("total-supply") or 0),
        float(record.get("unaccounted") or 0),
        record.get("combined-heat-and-pwr-comm-units"),
        record.get("combined-heat-and-pwr-elect-units"),
        record.get("combined-heat-and-pwr-indust-units"),
        record.get("direct-use-units"),
        record.get("elect-pwr-sector-gen-subtotal-units"),
        record.get("electric-utilities-units"),
        record.get("energy-only-providers-units"),
        record.get("estimated-losses-units"),
        record.get("facility-direct-units"),
        record.get("full-service-providers-units"),
        record.get("independent-power-producers-units"),
        record.get("indust-and-comm-gen-subtotal-units"),
        record.get("net-interstate-trade-units"),
        record.get("net-trade-index-units"),
        record.get("total-disposition-units"),
        record.get("total-elect-indust-units"),
        record.get("total-international-exports-units"),
        record.get("total-international-imports-units"),
        record.get("total-net-generation-units"),
        record.get("total-supply-units"),
        record.get("unaccounted-units")
    ))
connection.commit()

Storing Generating Capacity data in a MYSQL database on GCP server.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS capacity_data")
create_table_query = """
CREATE TABLE IF NOT EXISTS capacity_data (
    period VARCHAR(10),
    stateId VARCHAR(10),
    stateDescription VARCHAR(50),
    producertypeid VARCHAR(10),
    producerTypeDescription VARCHAR(50),
    energysourceid VARCHAR(10), 
    energySourceDescription VARCHAR(50),
    capability DECIMAL(12, 2),
    capability_units VARCHAR(20)
);
"""
cursor.execute(create_table_query)

with open('capacity_data.json', 'r') as file:
    data = json.load(file)

insert_query = """
INSERT INTO capacity_data (
    period, stateId, stateDescription, producertypeid, producerTypeDescription,
    energysourceid, energySourceDescription, capability, capability_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for record in data:
    try:
        energysourceid_value = str(record.get("energysourceid", "")).strip()
        print(f"Inserting record with energysourceid: '{energysourceid_value}'")
        cursor.execute(insert_query, (
            record.get("period"),
            record.get("stateId"),
            record.get("stateDescription"),
            record.get("producertypeid"),
            record.get("producerTypeDescription"),
            energysourceid_value,
            record.get("energySourceDescription"),
            float(record.get("capability") or 0),
            record.get("capability-units")
        ))
    #exepct size error  5?
    except mysql.connector.Error as err:
        print(f"Error inserting record: {record}")
        print(f"MySQL Error: {err}")
    except ValueError as ve:
        print(f"Value error inserting record: {record}")
        print(f"Python Error: {ve}")
connection.commit()

Storing Energy Efficiency Data in a MYSQL database on GCP server.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS energy_efficiency_data")
create_table_query = """
CREATE TABLE energy_efficiency_data (
    period VARCHAR(10),
    state VARCHAR(5),
    stateName VARCHAR(50),
    timePeriod VARCHAR(50),
    sector VARCHAR(10),
    sectorName VARCHAR(50),
    all_other_costs DECIMAL(15, 2),
    customer_incentive DECIMAL(15, 2),
    energy_savings DECIMAL(15, 2),
    potential_peak_savings DECIMAL(10, 2),
    all_other_costs_units VARCHAR(20),
    customer_incentive_units VARCHAR(20),
    energy_savings_units VARCHAR(20),
    potential_peak_savings_units VARCHAR(20)
);
"""
cursor.execute(create_table_query)
with open('energy_efficiency_data.json', 'r') as file:
    data = json.load(file)

insert_query = """
INSERT INTO energy_efficiency_data (
    period, state, stateName, timePeriod, sector, sectorName,
    all_other_costs, customer_incentive, energy_savings, potential_peak_savings,
    all_other_costs_units, customer_incentive_units, energy_savings_units, potential_peak_savings_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for record in data:
    cursor.execute(insert_query, (
        record.get("period"),
        record.get("state"),
        record.get("stateName"),
        record.get("timePeriod"),
        record.get("sector"),
        record.get("sectorName"),
        float(record.get("all-other-costs") or 0),
        float(record.get("customer-incentive") or 0),
        float(record.get("energy-savings") or 0),
        float(record.get("potential-peak-savings") or 0),
        record.get("all-other-costs-units"),
        record.get("customer-incentive-units"),
        record.get("energy-savings-units"),
        record.get("potential-peak-savings-units")
    ))

connection.commit()

Storing Electricity Net Metering data in a MYSQL database on GCP server.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS net_metering_data")

create_table_query = """
CREATE TABLE net_metering_data (
    period VARCHAR(10),
    state VARCHAR(5),
    stateName VARCHAR(50),
    technology VARCHAR(50),
    sector VARCHAR(10),
    sectorName VARCHAR(50),
    capacity DECIMAL(12, 3),
    customers INT,
    capacity_units VARCHAR(20),
    customers_units VARCHAR(20)
);
"""
cursor.execute(create_table_query)

with open('net_metering_data.json', 'r') as file:
    data = json.load(file)

insert_query = """
INSERT INTO net_metering_data (
    period, state, stateName, technology, sector, sectorName,
    capacity, customers, capacity_units, customers_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for record in data:
    cursor.execute(insert_query, (
        record.get("period"),
        record.get("state"),
        record.get("stateName"),
        record.get("technology"),
        record.get("sector"),
        record.get("sectorName"),
        float(record.get("capacity") or 0),
        int(record.get("customers") or 0),
        record.get("capacity-units"),
        record.get("customers-units")
    ))

connection.commit()

Storing Advanced Metering data in a MYSQL database on GCP server.

In [ ]:
create_table_query = """
CREATE TABLE adv_metering_data (
    period VARCHAR(10),
    state VARCHAR(5),
    stateName VARCHAR(50),
    technology VARCHAR(50),
    sector VARCHAR(10),
    sectorName VARCHAR(50),
    meters INT,
    meters_units VARCHAR(20)
);
"""
cursor.execute(create_table_query)

with open('adv_metering_data.json', 'r') as file:
    data = json.load(file)

insert_query = """
INSERT INTO adv_metering_data (
    period, state, stateName, technology, sector, sectorName,
    meters, meters_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

for record in data:
    cursor.execute(insert_query, (
        record.get("period"),
        record.get("state"),
        record.get("stateName"),
        record.get("technology"),
        record.get("sector"),
        record.get("sectorName"),
        int(record.get("meters") or 0),
        record.get("meters-units")
    ))

connection.commit()

Storing State Ranking data in a MYSQL database on GCP server.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS state_ranking_data")
create_table_query = """
CREATE TABLE state_ranking_data (
    period VARCHAR(10),
    stateID VARCHAR(5),
    stateDescription VARCHAR(50),
    average_retail_price DECIMAL(10, 2),
    average_retail_price_rank INT,
    capacity_elec_utilities DECIMAL(15, 2),
    capacity_elec_utilities_rank INT,
    capacity_ipp DECIMAL(15, 2),
    capacity_ipp_rank INT,
    carbon_dioxide DECIMAL(15, 2),
    carbon_dioxide_lbs DECIMAL(10, 2),
    carbon_dioxide_rank INT,
    carbon_dioxide_rank_lbs INT,
    direct_use DECIMAL(15, 2),
    direct_use_rank INT,
    eop_sales DECIMAL(15, 2),
    eop_sales_rank INT,
    fsp_sales_rank INT,
    fsp_service_provider_sales DECIMAL(15, 2),
    generation_elec_utils DECIMAL(15, 2),
    generation_elec_utils_rank INT,
    generation_ipp DECIMAL(15, 2),
    generation_ipp_rank INT,
    net_generation DECIMAL(15, 2),
    net_generation_rank INT,
    net_summer_capacity DECIMAL(15, 2),
    net_summer_capacity_rank INT,
    nitrogen_oxide DECIMAL(10, 2),
    nitrogen_oxide_lbs DECIMAL(10, 2),
    nitrogen_oxide_rank INT,
    nitrogen_oxide_rank_lbs INT,
    prime_source VARCHAR(30),  -- Increased length
    sulfer_dioxide DECIMAL(10, 2),
    sulfer_dioxide_lbs DECIMAL(10, 2),
    sulfer_dioxide_rank INT,
    sulfer_dioxide_rank_lbs INT,
    total_retail_sales DECIMAL(15, 2),
    total_retail_sales_rank INT,
    average_retail_price_units VARCHAR(50),  -- Increased length
    average_retail_price_rank_units VARCHAR(20),  -- Increased length
    capacity_elec_utilities_units VARCHAR(50),  -- Increased length
    capacity_elec_utilities_rank_units VARCHAR(20),  -- Increased length
    capacity_ipp_units VARCHAR(50),  -- Increased length
    capacity_ipp_rank_units VARCHAR(20),  -- Increased length
    carbon_dioxide_units VARCHAR(50),  -- Increased length
    carbon_dioxide_lbs_units VARCHAR(50),  -- Increased length
    carbon_dioxide_rank_units VARCHAR(20),  -- Increased length
    carbon_dioxide_rank_lbs_units VARCHAR(20),  -- Increased length
    direct_use_units VARCHAR(50),  -- Increased length
    direct_use_rank_units VARCHAR(20),  -- Increased length
    eop_sales_units VARCHAR(50),  -- Increased length
    eop_sales_rank_units VARCHAR(20),  -- Increased length
    fsp_sales_rank_units VARCHAR(20),  -- Increased length
    fsp_service_provider_sales_units VARCHAR(50),  -- Increased length
    generation_elec_utils_units VARCHAR(50),  -- Increased length
    generation_elec_utils_rank_units VARCHAR(20),  -- Increased length
    generation_ipp_units VARCHAR(50),  -- Increased length
    generation_ipp_rank_units VARCHAR(20),  -- Increased length
    net_generation_units VARCHAR(50),  -- Increased length
    net_generation_rank_units VARCHAR(20),  -- Increased length
    net_summer_capacity_units VARCHAR(50),  -- Increased length
    net_summer_capacity_rank_units VARCHAR(20),  -- Increased length
    nitrogen_oxide_units VARCHAR(50),  -- Increased length
    nitrogen_oxide_lbs_units VARCHAR(50),  -- Increased length
    sulfer_dioxide_units VARCHAR(50),  -- Increased length
    sulfer_dioxide_lbs_units VARCHAR(50),  -- Increased length
    sulfer_dioxide_rank_units VARCHAR(20),  -- Increased length
    sulfer_dioxide_rank_lbs_units VARCHAR(20),  -- Increased length
    total_retail_sales_units VARCHAR(50),  -- Increased length
    total_retail_sales_rank_units VARCHAR(20)  -- Increased length
);
"""
cursor.execute(create_table_query)

# Load the JSON data for state_ranking_data
with open('state_ranking_data.json', 'r') as file:
    data = json.load(file)

# Insert the data into the table
insert_query = """
INSERT INTO state_ranking_data (
    period, stateID, stateDescription, average_retail_price, average_retail_price_rank,
    capacity_elec_utilities, capacity_elec_utilities_rank, capacity_ipp, capacity_ipp_rank,
    carbon_dioxide, carbon_dioxide_lbs, carbon_dioxide_rank, carbon_dioxide_rank_lbs,
    direct_use, direct_use_rank, eop_sales, eop_sales_rank, fsp_sales_rank,
    fsp_service_provider_sales, generation_elec_utils, generation_elec_utils_rank, generation_ipp,
    generation_ipp_rank, net_generation, net_generation_rank, net_summer_capacity,
    net_summer_capacity_rank, nitrogen_oxide, nitrogen_oxide_lbs, nitrogen_oxide_rank,
    nitrogen_oxide_rank_lbs, prime_source, sulfer_dioxide, sulfer_dioxide_lbs, sulfer_dioxide_rank,
    sulfer_dioxide_rank_lbs, total_retail_sales, total_retail_sales_rank,
    average_retail_price_units, average_retail_price_rank_units, capacity_elec_utilities_units,
    capacity_elec_utilities_rank_units, capacity_ipp_units, capacity_ipp_rank_units,
    carbon_dioxide_units, carbon_dioxide_lbs_units, carbon_dioxide_rank_units,
    carbon_dioxide_rank_lbs_units, direct_use_units, direct_use_rank_units, eop_sales_units,
    eop_sales_rank_units, fsp_sales_rank_units, fsp_service_provider_sales_units,
    generation_elec_utils_units, generation_elec_utils_rank_units, generation_ipp_units,
    generation_ipp_rank_units, net_generation_units, net_generation_rank_units,
    net_summer_capacity_units, net_summer_capacity_rank_units, nitrogen_oxide_units,
    nitrogen_oxide_lbs_units, sulfer_dioxide_units, sulfer_dioxide_lbs_units,
    sulfer_dioxide_rank_units, sulfer_dioxide_rank_lbs_units, total_retail_sales_units,
    total_retail_sales_rank_units
) VALUES (
    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s
)
"""

for record in data:
    try:
        cursor.execute(insert_query, (
            record.get("period"),
            record.get("stateID"),
            record.get("stateDescription"),
            float(record.get("average-retail-price") or 0),
            int(record.get("average-retail-price-rank") or 0),
            float(record.get("capacity-elec-utilities") or 0),
            int(record.get("capacity-elect-utilities-rank") or 0),
            float(record.get("capacity-ipp") or 0),
            int(record.get("capacity-ipp-rank") or 0),
            float(record.get("carbon-dioxide") or 0),
            float(record.get("carbon-dioxide-lbs") or 0),
            int(record.get("carbon-dioxide-rank") or 0),
            int(record.get("carbon-dioxide-rank-lbs") or 0),
            float(record.get("direct-use") or 0),
            int(record.get("direct-use-rank") or 0),
            float(record.get("eop-sales") or 0),
            int(record.get("eop-sales-rank") or 0),
            int(record.get("fsp-sales-rank") or 0),
            float(record.get("fsp-service-provider-sales") or 0),
            float(record.get("generation-elect-utils") or 0),
            int(record.get("generation-elect-utils-rank") or 0),
            float(record.get("generation-ipp") or 0),
            int(record.get("generation-ipp-rank") or 0),
            float(record.get("net-generation") or 0),
            int(record.get("net-generation-rank") or 0),
            float(record.get("net-summer-capacity") or 0),
            int(record.get("net-summer-capacity-rank") or 0),
            float(record.get("nitrogen-oxide") or 0),
            float(record.get("nitrogen-oxide-lbs") or 0),
            int(record.get("nitrogen-oxide-rank") or 0),
            int(record.get("nitrogen-oxide-rank-lbs") or 0),
            record.get("prime-source"),
            float(record.get("sulfer-dioxide") or 0),
            float(record.get("sulfer-dioxide-lbs") or 0),
            int(record.get("sulfer-dioxide-rank") or 0),
            int(record.get("sulfer-dioxide-rank-lbs") or 0),
            float(record.get("total-retail-sales") or 0),
            int(record.get("total-retail-sales-rank") or 0),
            record.get("average-retail-price-units"),
            record.get("average-retail-price-rank-units"),
            record.get("capacity-elec-utilities-units"),
            record.get("capacity-elect-utilities-rank-units"),
            record.get("capacity-ipp-units"),
            record.get("capacity-ipp-rank-units"),
            record.get("carbon-dioxide-units"),
            record.get("carbon-dioxide-lbs-units"),
            record.get("carbon-dioxide-rank-units"),
            record.get("carbon-dioxide-rank-lbs-units"),
            record.get("direct-use-units"),
            record.get("direct-use-rank-units"),
            record.get("eop-sales-units"),
            record.get("eop-sales-rank-units"),
            record.get("fsp-sales-rank-units"),
            record.get("fsp-service-provider-sales-units"),
            record.get("generation-elect-utils-units"),
            record.get("generation-elect-utils-rank-units"),
            record.get("generation-ipp-units"),
            record.get("generation-ipp-rank-units"),
            record.get("net-generation-units"),
            record.get("net-generation-rank-units"),
            record.get("net-summer-capacity-units"),
            record.get("net-summer-capacity-rank-units"),
            record.get("nitrogen-oxide-units"),
            record.get("nitrogen-oxide-lbs-units"),
            record.get("sulfer-dioxide-units"),
            record.get("sulfer-dioxide-lbs-units"),
            record.get("sulfer-dioxide-rank-units"),
            record.get("sulfer-dioxide-rank-lbs-units"),
            record.get("total-retail-sales-units"),
            record.get("total-retail-sales-rank-units")
        ))
    except mysql.connector.Error as err:
        if err.errno == 1406:  
            print(f"Data too long error for record: {record}")
        else:
            print(f"Error inserting record: {record}")
            print(f"MySQL Error: {err}")

connection.commit()

Below code requests daily data from the API, which is then structured as a JSON file to upload to MYSQL stored on GCP.

Helper Functions used for storing data to MYSQL database.

In [ ]:
def fetch_data(url, params):
    all_data = []  
    total_rows = 0  
    has_more_data = True

    while has_more_data:
        response = requests.get(url, params=params)
        if response.status_code == 200:
            data = response.json()

            # check for the "incomplete return" warning; should hit this warning still
            if data.get('response', {}).get('warnings'):
                print(data['response']['warnings'][0]['description'])

            # append the data to the list
            all_data.extend(data['response']['data'])
            total_rows += len(data['response']['data'])

            # if fewer than 5000 rows are returned, finished
            if len(data['response']['data']) < 5000:
                has_more_data = False
            else:
                # update  offset to get the next batch of data
                params['offset'] += 5000
            print(total_rows)
            # delay to avoid API limit
            time.sleep(1)
        else:
            print(f"Failed to retrieve data: {response.status_code}")
            break

    print(f"Total rows retrieved: {total_rows}")
    return all_data
def save_to_json(data, filename, array_name):
     with open(filename, 'w') as f:
        json.dump(data, f, indent=4)
        print(f"Data saved to {filename} as a list of JSON objects.")

In [ ]:
import mysql.connector
from mysql.connector import Error
import json
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        # Establishing the connection
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            database=db_name
        )
        if connection.is_connected():
            print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    
    return connection

def close_connection(connection):
    if connection.is_connected():
        connection.close()
        print("The connection is closed")

In [ ]:
#DO NOT UNCOMMENT; WILL AFFECT ENTIRE DB:
# host_name = "34.23.64.152" 
# user_name = "root"  
# user_password = "cse6242" 
# db_name = "testing" 
connection = create_connection(host_name, user_name, user_password, db_name)
if connection:
    cursor = connection.cursor()
    cursor.execute("SELECT DATABASE();")
    result = cursor.fetchone()
    print(f"Connected to database: {result}")

Connection to MySQL DB successful
Connected to database: ('testing',)

Storing Daily Demand, Forecast, Generation, Interchange Table.

In [ ]:
# Define the API URL
url = 'https://api.eia.gov/v2/electricity/rto/daily-region-data/data/'

# Set up the parameters with your API key and offset initialization
params = {
    'api_key': api_key,  # Replace 'YOUR_API_KEY' with your actual API key
    'frequency': 'daily',
    'data[0]': 'value',
    'facets[respondent][]': [
        'AEC', 'AECI', 'AVA', 'AVRN', 'AZPS', 'BANC', 'BPAT', 'CAL', 'CAR', 'CENT', 'CHPD',
        'CISO', 'CPLE', 'CPLW', 'DEAA', 'DOPD', 'DUK', 'EEI', 'EPE', 'ERCO', 'FLA', 'FMPP',
        'FPC', 'FPL', 'GCPD', 'GLHB', 'GRID', 'GRIF', 'GVL', 'GWA', 'HGMA', 'HST', 'IID',
        'IPCO', 'ISNE', 'JEA', 'LDWP', 'LGEE', 'MIDA', 'MIDW', 'MISO', 'NE', 'NEVP', 'NSB',
        'NW', 'NWMT', 'NY', 'NYIS', 'PACE', 'PACW', 'PGE', 'PJM', 'PNM', 'PSCO', 'PSEI',
        'SC', 'SCEG', 'SCL', 'SE', 'SEC', 'SEPA', 'SOCO', 'SPA', 'SRP', 'SW', 'SWPP', 'TAL',
        'TEC', 'TEN', 'TEPC', 'TEX', 'TIDC', 'TPWR', 'TVA', 'US48', 'WACM', 'WALC', 'WAUW',
        'WWA', 'YAD'
    ],
    'facets[timezone][]': 'Eastern',
    'sort[0][column]': 'respondent',
    'sort[0][direction]': 'asc',
    'sort[1][column]': 'period',
    'sort[1][direction]': 'asc',
    'sort[2][column]': 'type',
    'sort[2][direction]': 'asc',
    'offset': 0,
    'length': 5000
}
hrly_data = fetch_data(url, params)

In [ ]:
save_to_json(hrly_data, 'daily_demand_data.json', 'daily_demand_data')

Data saved to hrly_data.json as a list of JSON objects.

Storing Daily Demand By Subregion Table.

In [ ]:
url = 'https://api.eia.gov/v2/electricity/rto/daily-region-sub-ba-data/data/'

# Set up the base parameters
params = {
    'api_key': api_key,  # Replace with your actual API key
    'frequency': 'daily',
    'data[0]': 'value',
    'facets[timezone][]': 'Eastern',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000
}

# Fetch data using the defined function
try:
    daily_subregion_data = fetch_data(url, params)
except requests.exceptions.RequestException as e:
    print("An error occurred:", e)

In [ ]:
save_to_json(daily_subregion_data, 'daily_subregion_data.json', 'daily_subregion_data')

Data saved to daily_subregion_data.json as a list of JSON objects.

Storing Daily Generation by energy Source Table.

In [ ]:
# Define the API URL for daily fuel type data
url = 'https://api.eia.gov/v2/electricity/rto/daily-fuel-type-data/data/'

# Set up the parameters for the API request
params = {
    'api_key': api_key,
    'frequency': 'daily',
    'data[0]': 'value',
    'facets[timezone][]': 'Eastern',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000
}

# Fetch data using the defined function
try:
    daily_generation_data = fetch_data(url, params)
except requests.exceptions.RequestException as e:
    print("An error occurred:", e)

In [ ]:
save_to_json(daily_generation_data, 'daily_generation_data.json', 'daily_generation_data')

Data saved to daily_generation_data.json as a list of JSON objects.

Storing Daily Interchange Table.

In [ ]:
url = 'https://api.eia.gov/v2/electricity/rto/daily-interchange-data/data/'

# Set up the parameters for the API request
params = {
    'api_key': api_key,
    'frequency': 'daily',
    'data[0]': 'value',
    'facets[timezone][]': 'Eastern',
    'sort[0][column]': 'period',
    'sort[0][direction]': 'desc',
    'offset': 0,
    'length': 5000
}

# Fetch data using the defined function
try:
    interchange__nba_data = fetch_data(url, params)
except requests.exceptions.RequestException as e:
    print("An error occurred:", e)

In [ ]:
save_to_json(interchange__nba_data, 'interchange_nba_data.json', 'interchange_nba_data')

Data saved to interchange_nba_data.json as a list of JSON objects.

Import Daily Data Tables into GCP.

In [ ]:
# #daily demand data
# Drop the table if it exists
drop_table_query = "DROP TABLE IF EXISTS daily_demand;"
cursor.execute(drop_table_query)

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS daily_demand (
    period VARCHAR(20),
    respondent VARCHAR(20),
    respondent_name VARCHAR(200),
    type VARCHAR(20),
    type_name VARCHAR(50),
    timezone VARCHAR(20),
    timezone_description VARCHAR(50),
    value DECIMAL(20, 2),
    value_units VARCHAR(20)
);
"""
cursor.execute(create_table_query)

# Load data from JSON file
with open('daily_demand_data.json', 'r') as file:
    data = json.load(file)

# Prepare the data for bulk insertion as a list of tuples
insert_data = [
    (
        record.get("period"),
        record.get("respondent"),
        record.get("respondent-name"),
        record.get("type"),
        record.get("type-name"),
        record.get("timezone"),
        record.get("timezone-description"),
        float(record.get("value") or 0),
        record.get("value-units")
    )
    for record in data
]

# Define batch size
batch_size = 500  # Adjust this size as needed

# Insert data in batches using executemany
insert_query = """
INSERT INTO daily_demand (
    period, respondent, respondent_name, type, type_name, 
    timezone, timezone_description, value, value_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Initialize row counter
row_ct = 0

for i in range(0, len(insert_data), batch_size):
    batch = insert_data[i:i + batch_size]
    cursor.executemany(insert_query, batch)
    connection.commit()  # Commit after each batch to avoid locking issues
    
    # Update and print the row count
    row_ct += len(batch)
    print(f"{row_ct} records inserted")

print("All records inserted successfully.")

In [ ]:
# #daily_subregion_data
# Create the table (if it doesn't exist)
create_table_query = """
CREATE TABLE IF NOT EXISTS daily_subregion (
    period VARCHAR(20),
    subba VARCHAR(20),
    subba_name VARCHAR(200),
    parent VARCHAR(20),
    parent_name VARCHAR(50),
    timezone VARCHAR(20),
    value VARCHAR(255),  # Set as VARCHAR to avoid range issues
    value_units VARCHAR(20)
);
"""
cursor.execute(create_table_query)

# Load data from JSON file
with open('daily_subregion_data.json', 'r') as file:
    data = json.load(file)

# Prepare the data for bulk insertion as a list of tuples
insert_data = []
for record in data:
    value = record.get("value")
    
    # Add record to insert_data without casting to float
    insert_data.append((
        record.get("period"),
        record.get("subba"),
        record.get("subba-name"),
        record.get("parent"),
        record.get("parent-name"),
        record.get("timezone"),
        value,
        record.get("value-units")
    ))

# Define batch size
batch_size = 500  # Adjust this size as needed

# Insert data in batches and handle errors
insert_query = """
INSERT INTO daily_subregion (
    period, subba, subba_name, parent, parent_name, 
    timezone, value, value_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

total_records = len(insert_data)
records_inserted = 0

for i in range(0, total_records, batch_size):
    batch = insert_data[i:i + batch_size]
    try:
        cursor.executemany(insert_query, batch)
        connection.commit()  # Commit after each batch to avoid locking issues
        records_inserted += len(batch)
        print(f"{records_inserted}/{total_records} records inserted")
    except Exception as e:
        # Print each problematic value in the batch
        print("Error encountered:", e)
        for record in batch:
            try:
                cursor.execute(insert_query, record)  # Try individual insertion
            except Exception as single_error:
                print(f"Problematic value for record {record}: {single_error}")

print("All valid records inserted successfully.")

In [ ]:
# # Create table query for daily_generation_data
# Drop the table if it exists
drop_table_query = "DROP TABLE IF EXISTS daily_generation;"
cursor.execute(drop_table_query)

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS daily_generation (
    period VARCHAR(20),
    respondent VARCHAR(20),
    respondent_name VARCHAR(200),
    fueltype VARCHAR(10),
    type_name VARCHAR(50),
    timezone VARCHAR(20),
    timezone_description VARCHAR(50),
    value DECIMAL(10, 2),
    value_units VARCHAR(20)
);
"""
cursor.execute(create_table_query)

# Load data from JSON file
with open('daily_generation_data.json', 'r') as file:
    data = json.load(file)

# Prepare the data for bulk insertion as a list of tuples
insert_data = [
    (
        record.get("period"),
        record.get("respondent"),
        record.get("respondent-name"),
        record.get("fueltype"),
        record.get("type-name"),
        record.get("timezone"),
        record.get("timezone-description"),
        float(record.get("value") or 0),
        record.get("value-units")
    )
    for record in data
]

# Define batch size
batch_size = 500  # Adjust this size as needed

# Insert data in batches using executemany
insert_query = """
INSERT INTO daily_generation (
    period, respondent, respondent_name, fueltype, type_name, 
    timezone, timezone_description, value, value_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Initialize row counter
row_ct = 0

# Insert data in batches
for i in range(0, len(insert_data), batch_size):
    batch = insert_data[i:i + batch_size]
    cursor.executemany(insert_query, batch)
    connection.commit()  # Commit after each batch to avoid locking issues
    
    # Update and print the row count
    row_ct += len(batch)
    print(f"{row_ct} records inserted")

print("All records inserted successfully.")

In [ ]:
# Drop the table if it exists
drop_table_query = "DROP TABLE IF EXISTS daily_interchange;"
cursor.execute(drop_table_query)

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS daily_interchange (
    period VARCHAR(20),
    fromba VARCHAR(20),
    fromba_name VARCHAR(200),
    toba VARCHAR(20),
    toba_name VARCHAR(200),
    timezone VARCHAR(20),
    value DECIMAL(10, 2),
    value_units VARCHAR(20)
);
"""
cursor.execute(create_table_query)

# Load data from JSON file
with open('interchange_nba_data.json', 'r') as file:
    data = json.load(file)

# Prepare the data for bulk insertion as a list of tuples
insert_data = [
    (
        record.get("period"),
        record.get("fromba"),
        record.get("fromba-name"),
        record.get("toba"),
        record.get("toba-name"),
        record.get("timezone"),
        float(record.get("value") or 0),
        record.get("value-units")
    )
    for record in data
]

# Define batch size
batch_size = 500  # Adjust this size as needed

# Insert query for batch insertion
insert_query = """
INSERT INTO daily_interchange (
    period, fromba, fromba_name, toba, toba_name, 
    timezone, value, value_units
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

# Initialize row counter
row_ct = 0

# Insert data in batches
for i in range(0, len(insert_data), batch_size):
    batch = insert_data[i:i + batch_size]
    cursor.executemany(insert_query, batch)
    connection.commit()  # Commit after each batch to avoid locking issues
    
    # Update and print the row count
    row_ct += len(batch)
    print(f"{row_ct} records inserted")

print("All records inserted successfully.")

In [ ]:
drop_table_query = "DROP TABLE IF EXISTS _misc_ultimate_customers;"
cursor.execute(drop_table_query)

End of Data Engineering Portion Before the Forecasting and Visualization Stage.

# Upload of CSV Files Which Store Forecasting Results

# To Be Performed After Running the Forecasting Script

In [ ]:
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        # Establishing the connection
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            database=db_name
        )
        if connection.is_connected():
            print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    
    return connection

def close_connection(connection):
    if connection.is_connected():
        connection.close()
        print("The connection is closed")

In [ ]:
# DO NOT UNCOMMENT; WILL AFFECT ENTIRE DB:
# host_name = "34.23.64.152" 
# user_name = "root"  
# user_password = "cse6242" 
# db_name = "testing" 
connection = create_connection(host_name, user_name, user_password, db_name)
if connection:
    cursor = connection.cursor()
    cursor.execute("SELECT DATABASE();")
    result = cursor.fetchone()
    print(f"Connected to database: {result}")

Connection to MySQL DB successful
Connected to database: ('testing',)

In [ ]:
# Create table query
create_table_query = """
CREATE TABLE IF NOT EXISTS rmse_comparison (
    respondent VARCHAR(10),
    demand_model VARCHAR(20),
    net_generation_model VARCHAR(20)
);
"""
cursor.execute(create_table_query)

# File path to CSV
csv_file_path = 'rmse_comparison_summary_best_model.csv'  # Replace with your actual file path

# Insert query
insert_query = """
INSERT INTO rmse_comparison (respondent, demand_model, net_generation_model)
VALUES (%s, %s, %s)
"""

# Batch size
batch_size = 100  # Adjust based on your needs
batch = []
count = 0
try:
    with open(csv_file_path, 'r') as file:
        csv_reader = csv.DictReader(file)
        for row in csv_reader:
            # Add to batch
            batch.append((
                row['respondent'],
                row['demand'] if row['demand'] else None,
                row['net generation'] if row['net generation'] else None
            ))
            
            # When batch reaches the defined size, execute it
            if len(batch) >= batch_size:
                cursor.executemany(insert_query, batch)
                connection.commit()  # Commit the batch
                batch = []  # Clear the batch

        # Insert any remaining rows
        if batch:
            cursor.executemany(insert_query, batch)
            connection.commit()
            count += batch_size
            print(count)
            

except Exception as e:
    print(f"Error: {e}")

finally:
    # Close connections
    cursor.close()
    connection.close()

In [ ]:
# Create table query
create_table_query = """
CREATE TABLE IF NOT EXISTS merged_predictions (
    respondent VARCHAR(10),
    type_name VARCHAR(20),
    period DATETIME,
    actuals DECIMAL(10, 2),
    day_ahead_demand_forecast DOUBLE,
    best_prediction DOUBLE,
    within_3_std BOOLEAN
);
"""
cursor.execute(create_table_query)

# File path to CSV
csv_file_path = 'merged_predictions_cleaned.csv'  # Replace with your actual file path

# Insert query
insert_query = """
INSERT INTO merged_predictions (
    respondent, type_name, period, actuals, day_ahead_demand_forecast, best_prediction, within_3_std
) VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

# Batch size
batch_size = 5000  # Adjust based on your needs
batch = []
count = 0

try:
    with open(csv_file_path, 'r') as file:
        csv_reader = csv.DictReader(file)
        for row in csv_reader:
            try:
                # Add to batch
                record = (
                    row['respondent'],
                    row['type_name'],
                    row['period'],
                    float(row['actuals']) if row['actuals'] else None,
                    float(row['day_ahead_demand_forecast']) if row['day_ahead_demand_forecast'] else None,
                    float(row['best_prediction']) if row['best_prediction'] else None,
                    bool(row['within_3_std']) if row['within_3_std'] else None
                )
                batch.append(record)
            except Exception as row_error:
                print(f"Error processing row: {row}")
                print(f"Row Error: {row_error}")

            # When batch reaches the defined size, execute it
            if len(batch) >= batch_size:
                try:
                    cursor.executemany(insert_query, batch)
                    connection.commit()  # Commit the batch
                    count += len(batch)  # Track inserted rows
                    print(f"Inserted {count} rows...")
                    batch = []  # Clear the batch
                except Exception as batch_error:
                    print(f"Error in batch insertion: {batch_error}")
                    print("Isolating problematic rows...")

                    # Isolate problematic row within the batch
                    for problematic_row in batch:
                        try:
                            cursor.execute(insert_query, problematic_row)
                        except Exception as row_error:
                            print(f"Problematic row: {problematic_row}")
                            print(f"Row Error: {row_error}")
                    batch = []  # Clear the problematic batch

        # Insert any remaining rows
        if batch:
            try:
                cursor.executemany(insert_query, batch)
                connection.commit()
                count += len(batch)
                print(f"Inserted {count} rows...")
            except Exception as batch_error:
                print(f"Error in final batch insertion: {batch_error}")
                print("Isolating problematic rows...")

                # Isolate problematic row within the final batch
                for problematic_row in batch:
                    try:
                        cursor.execute(insert_query, problematic_row)
                    except Exception as row_error:
                        print(f"Problematic row: {problematic_row}")
                        print(f"Row Error: {row_error}")

except Exception as e:
    print(f"Error: {e}")